.header{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    margin-left: auto;
    gap: 10px;
    list-style-type: none;
}

.right-link{
    margin-left: auto;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

h2,.hero .left-div{ 
    margin-left: 130px;
}

.hero{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
}

#imageBox{
    background-color: rgba(150, 139, 139, 0.571);
    height: 204px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#imageBox p{
    color: #e5e7eb;
}
#heroMain{
    font-size: 48px;
    color: #f9faf8;
}

#heroSec{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    border-style: none;
    padding: 4px 16px;
    margin-top: 8px;
}

.left-div{
    width: 300px;
}

.hero{
    justify-content: space-between;
    height: 350px;
}

ul, #imageBox{
    margin-right: 130px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.box{
    outline: 4px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.info-header{
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    padding: 32px;
}

.bottom-box{
    display: flex;
    gap: 64px;
}

.bottom-box div p{
    text-wrap: wrap;
    text-align: justify;
    text-align-last: center ;
    font-size: 18px;
}

.bottom-box div{
    width: 150px;
}
